#main{
    margin: 30px auto auto auto;
    padding: 10px;
    background-color: burlywood;
    width: 1600px;
    outline-color: black;
}
.areas {
    margin: 10px;
    float: left;
    width: 650px;
}

label{
    margin: 0 auto 0 auto;
    text-align: center;
}

.clear {
    clear: both;
}

.options {
    width: 80px;
    padding: 10px;
    margin: 80px 10px ;
    float: right;
    background-color: antiquewhite;
}

.optionst {
    width: 60px;
    margin: 10px;
}

textarea {
    margin: 10px;
    width: 640px;
}